<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vuln Node Site</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class = "header">
      <div class = "top-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/whoami">Who Am I?/Logout</a></li>
        </ul>
      </div>
    </div>
    <small>Sample Website. Do not deploy.</small>
  </body>
</html>
